<html>
<head>
	<title>asd</title>
	<style type="text/css">
	*{
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
	</style>
</head>
<body>
<div style="position:relative">
	<div style="position:absolute;left:0;top:0">
		<h2>{{guest.name}}</h2>
		<h4>{{guest.email}}</h4>
	</div>
	<div style="position:absolute;right:0;top:-20px">
		<img src="/tmp/{{guest.id}}.png">
	</div>
	
</body>
</html>

